comptage-velo-donnees-compteurs.csv
CyclingTrafficInParis_eng.csv
X_test.csv
X_train.csv
y_train.csv
y_test.csv
Decision tree importance.png
Decision tree predictions.png
decision tree top 4.png
decision tree hyper tuned predictions.png
donnees-synop-essentielles-omm.csv
