comptage-velo-donnees-compteurs.csv
CyclingTrafficInParis_eng.csv
X_test.csv
X_train.csv
y_train.csv
y_test.csv
Decision tree importance.png
Decision tree predictions.png
decision tree top 4.png
decision tree hyper tuned predictions.png
donnees-synop-essentielles-omm.csv
050623-110623 top 3 counters.png
050623-110623 top counter.png
boxplot of all cleaned counts.png
boxplot of top 3 counts.png
boxplot unfiltered.png
boxplott unfiltered marked.png
Heatmap of days in months.png
Heatmap of daytimes per weekday with most bicycle traffic.png
Histogram of hourly counts.png
Histogram of top counter Hourly count values.png
Linear regression.png
Map plot total counted bicycles.png
Monthly top3.png
Weather basic viz.png
Weather_eng_final.csv
WeatherAndTraffic.csv
X_test_Weather.csv
X_train_Weather.csv
y_test_Weather.csv
y_train_Weather.csv
holidays.csv
Visualisations/Decision tree importance_weather.png
Visualisations/Decision tree predictions_weather.png
Counters.csv
RFR.sav
Visualisations/RFR predictions.png
Visualisations/RFR Feature importances.png
RFR2.sav
rfr load.py
Visualisation/residual histogram.png
Visualisation/residual plot.png
Visualisation/Residuals vs true.png
Visualisation/RFR Tree.png
nov23_bda_int_cycling_in_paris.zip
PROJECT_FINAL REPORT.docx
reponses-departement-75.csv
train.csv
streamlit_app.py
streamlit_app.py
model
